.container {
 width: 50%;
 margin-left: 25%;
 margin-top: 200px;
 margin-bottom: 200px;
 width: 49%;
 width: 49%;

}
.reg_container {

    width: 70%;
     margin-left: 30%;
     margin-top: 200px;
     margin-bottom: 200px;
     width: 49%;
     width: 49%;
}
.input_text{
    width: 350px;
}

.margin_left_body {
	margin: 19px 147px;
}
